name: DashLord report

on:
  workflow_dispatch:
  workflow_run:
    workflows: [DashLord scans]
    branches: [main]
    types:
      - completed

# allow only one concurrent report action
concurrency:
  cancel-in-progress: true
  group: report

jobs:
  report:
    runs-on: ubuntu-latest
    name: JSON report
    steps:
      - name: Get triggering workflow inputs
        if: github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success'
        id: get-inputs
        uses: actions/github-script@v8
        with:
          script: |
            const run_id = context.payload.workflow_run.id;
            const { data: run } = await github.rest.actions.getWorkflowRun({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id,
            });
            const event = run.event;
            const toolInput = run?.inputs?.tool;
            core.setOutput('event', event);
            core.setOutput('tool', toolInput);

      - name: Check tool input
        if: steps.get-inputs.outputs.event == 'workflow_dispatch' && steps.get-inputs.outputs.tool != 'all'
        run: |
          echo "Tool input is not 'all', skipping job."
          exit 0

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Generate web report
        uses: Quentium-Forks/dashlord-actions/report@main
        with:
          base-path: /dashlord
          output: report_full.json

      - name: Simplify report.json
        run: |
          # keep only url and summary
          jq '[.[] | {url, summary}]' report_full.json > report.json
          du -sh report.json

      - name: Add and commit
        uses: EndBug/add-and-commit@v9
        with:
          add: "report.json"
          default_author: github_actions
          message: "update: report.json"
